@import '../../common/styles/mixin';
@import '../../common//styles/variables';

.contact-us-container {
    .banner_section {
        .contact-banner {
            width: 100%;
            height: 100vh;
            background: url('../../assets/images/home_banner.jpg') no-repeat;
            background-color: rgba(66,66,41,0.6);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @include font('Roboto', 50px, 600, $white);
        }
    }

    .contact-us-body{
        .contact-us-image {
            height: 600px;
            background: url("../../assets//images/modal_image.jpg") no-repeat;
            background-size: cover;
        }
        .conatct-us-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .form-title {
                width: 100%;
                position: relative;
                span {
                    background: $lightBlue;
                    position: absolute;
                    top: 8px;
                    left: 40%;
                }
            }

            form {
                width: 100%;

                .contact-us-text {
                    margin: 20px 20px;
                }
            }

            .footer-button {
                margin-top: 30px;
                text-align: right;

                button {
                    margin-left: 15px;
                }
            }
        }

    }

    .MuiTextField-root {
        width: 100%;
    }

}

