@import '../../styles/mixin';
@import '../../styles/variables';

.info-card_container {
    text-align: center;
    position: relative;

    .MuiCardMedia-root {
        height: 200px;
    }

    .card-footer_container {
        display: flex;
        // justify-content: center;
        // align-items: flex-end;
        // flex-direction: column;
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        .duration {
          padding: 10px;
          text-align: center;
          display: block !important;
          width: 50%;
        }
    }

    .MuiAvatar-colorDefault {
        background-color: transparent;
    }

    .tag {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        width: 50%;
        padding: 10px;
        background-color: $lightSoilColor;
        @include font('Roboto', 14px, 600, $white);
    }
}
