@mixin font($fontFamily: 'Roboto', $fontSize: 14px, $fontWeight: 300, $fontColor: #000) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
}