@import '../../styles/mixin';
@import '../../styles/variables';

footer {
    background: $black;
    p {
        padding: 20px 0;
        text-align: center;

        @include font('Roboto', 14px, 400, $white);
    }
}